.todo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-height: 4.375rem;
  background: var(--gray-500);

  .contentContainer {
    display: flex;
    align-items: center;
    flex: 1;

    div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
  
      width: 25px;
      height: 25px;
      padding: 2px;
      margin: 15px;
  
      border: 2px solid var(--purple-500);
      border-radius: 50%;
  
      img {
        max-width: 15px;
        max-height: 15px;
      }

      &:hover {
        opacity: 85%;
      }
    }
  
    p {
      font-size: 1.8rem;
      color: var(--gray-200);
      line-height: 1.2rem;
  
      margin-top: 10px;
    }
  
    span {
      font-size: 1.6rem;
      color: var(--purple-500);
    }
  }

  .completed {
    div:first-child {
      border: 2px solid var(--green-600);
    }

    span {
      color: var(--green-600);
    }
  }

  button {
    margin-right: 10px;

    font-size: 1.7rem;
    max-height: 1.875rem;
    padding: 5px 10px 0 10px;
    min-width: 4.375rem;

    background: var(--orange-400);

    &:hover {
      background: var(--orange-400);
      opacity: 95%;
    }
  }
}