.addTask {
  display: flex;
  align-items: center;

  border: 1px solid var(--gray-400);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;

  button {
    width: 30px;
    height: 30px;
    padding-top: 5px;

    border-radius: 10px;

    font-size: 40px;
    background: var(--purple-500);

    &:hover {
      background: var(--purple-500);
      opacity: 85%;
    }
  }

  span {
    font-size: 2rem;
    font-family: Dongle, sans-serif;
    color: var(--gray-200);

    padding: 6px 0 0 10px;
    line-height: 1rem;
    letter-spacing: 0.05rem;
  }
}

.newTask {
  border: 1px solid var(--gray-400);
  border-radius: 10px;
  padding: 1px 10px;

  display: flex;

  form {
    width: 100%;
    
    textarea {
      padding: 3px;
      margin-bottom: 5px;
      resize: vertical;
      
      caret-color: white;

      font-size: 1.8rem;
      font-family: Dongle, sans-serif;
      color: white;
      line-height: 1.5rem;
    }

    #utilButtons {
      display: flex;
      justify-content: space-between;

      div:first-child {
        max-width: 10rem;
        
        span {
          margin: 0;
          max-height: 30px;
          padding: 1px 6px;
          border-radius: 5px;

          font-family: Dongle, sans-serif;
          background: var(--purple-500);
          color: var(--gray-800);
      
          input {
            font-size: 1.7rem !important;
          }
        }
      }

      div:last-child {
        display: flex;
        gap: 10px;
        
        button {
          font-size: 1.7rem;
          max-height: 1.875rem;
          padding: 5px 10px 0 10px;
          min-width: 70px;

          &:hover {
            opacity: 85%;
          }
        }
      
        .btnAdd {
          background: var(--green-300);
        }
      
        .btnCancel {
          background: var(--orange-400);
        }
      }
    }
  }
}

.errorMsg {
  color: rgb(255, 72, 72);
  font-size: 1.25rem;
}